<!DOCTYPE html>
<html>
    <head>
        <title>
            Bank of CS 4400 - Admin Page
        </title>
        <center>
            <h1>
                Bank of CS 4400 - Admin Page
            </h1>
            <h2>
                Welcome, {{ username }}! <a href="/accounts/logout">Logout</a>
            </h2>
            <h3>
                <a href="/bank/view_stats">View Stats</a>   <br>
                <a href="/bank/manage_overdraft">Manage Overdraft</a>   <br>
                <a href="/bank/manage_users">Manage Users</a>   <br>
                <a href="/bank/create_corporation">Create Corporation</a>   <br>
                <a href="/bank/create_bank">Create Bank</a>   <br>
                <a href="/bank/create_fee">Create Fee</a>   <br>
                <a href="/bank/penalize_accounts">Penalize Accounts</a>    <br>
                <a href="/bank/accrue_interest">Accrue Interest</a>    <br>
                <a href="/bank/pay_employees">Pay Employee</a>   <br>
                <a href="/bank/replace_manager">Replace Manager</a>   <br>
                <a href="/bank/manage_accounts_admin">Add Account Access</a>   <br>
                <a href="/bank/remove_accounts_access">Remove Account Access</a>   <br>
            </h3>
        </center>

    </head>
</html>