<!DOCTYPE html>
<html>
    <head>
        <title>
            Bank of CS 4400
        </title>
        <center>
            <h1>
                Bank of CS 4400 - Customer Page
            </h1>
            <h2>
                Welcome, {{ username }}! <a href="/accounts/logout">Logout</a>
            </h2>
            <h3>
            
                <a href="/bank/account_deposit">Account Deposit</a> <br>
                <a href="/bank/account_withdrawal">Account Withdrawal</a> <br>
                <a href="/bank/account_transfer">Account Transfer</a>   <br>
                <a href="/bank/manage_overdraft">Manage Overdraft</a>   <br>
                <a href="/bank/manage_accounts_customer">Manage Accounts Access</a>   <br>
            </h3>
        </center>

    </head>
</html>