<!DOCTYPE html>
<html>
    <head>
        <title>
            Manage Users
        </title>
        <center>
            <h1>
                Manage Users
            </h1>
            <h3>
                <a href="/bank/start_employee_role">Start Employee Role</a>   <br>
                <a href="/bank/start_customer_role">Start Customer Role</a>   <br>
                <a href="/bank/stop_employee_role">Stop Employee Role</a>   <br>
                <a href="/bank/stop_customer_role">Stop Customer Role</a>   <br>
            </h3>
            <h3>
                <a href="../">Back to Menu</a>
            </h3>
        </center>

    </head>
</html>