<!DOCTYPE html>
<html>
    <head>
        <title>
            Bank of CS 4400
        </title>
        <center>
            <h1>
                Bank of CS 4400 - Manager Page
            </h1>
            <h2>
                Welcome, {{ username }}! <a href="/accounts/logout">Logout</a>
            </h2>
            <h3>
                <a href="/bank/pay_employees">Pay Employee</a> <br>
                <a href="/bank/hire_worker">Hire Worker</a> <br>
            </h3>
        </center>

    </head>
</html>