<!DOCTYPE html>
<html>
    <head>
        <title>
            Bank of CS 4400
        </title>
        <center>
            <h1>
                View Stats
            </h1>
            <h3>
                <a href="/bank/display_bank_stats">Display Bank Stats</a> <br>
                <a href="/bank/display_account_stats">Display Account Stats</a> <br>
                <a href="/bank/display_corporation_stats">Display Corporation Stats</a> <br>
                <a href="/bank/display_customer_stats">Display Customer Stats</a> <br>
                <a href="/bank/display_employee_stats">Display Employee Stats</a> <br>
            </h3>
            <h3>
                <a href="../">Back to Menu</a>
            </h3>
        </center>
    </head>
</html>